.banner {
	background-color: #eff5fc;
	border-bottom: 1px solid #d4e8ff;
}
.banner_block {
	max-width: 1900px;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;

	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.banner_block span {
	display: block;
	text-align: center;
}
.banner_block h1 {
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	margin: 30px 0;
}
.banner_block_image_block,
.banner_block_content_block {
	flex-shrink: 1;
	position: relative;
	width: 50%;
	height: 450px;
	z-index: 1;
}
.banner_block_images_wrap {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.transition {
	transition: all 0.3s;
}
.banner_block_image_block img {
	width: 100%;
	height: 450px;
	object-fit: cover;
}
.banner_block_content_block {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}
.banner_block_content_top {
	margin-top: 15px;
}
.banner_block_content_title {
	margin-top: 40px;
}
.banner_block_content_btns {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.banner_block_content_presnt {
	margin: 0 60px 20px;
}

.banner_btn_show_programm {
	padding: 6px 15px;
	border: 1px solid #126688;
	border-radius: 3px;
	background: #126688;
	color: white;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.banner_btn_show_programm:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.banner_block_content_dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner_dts_item {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: lightgray;
	margin: 10px;
	cursor: pointer;
}

.dts_active {
	background-color: #126688;
	cursor: default;
}

.banner_length_rain,
.banner_square_delta {
	text-align: center;
	font-size: 1.8em;
	color: #126688;
}
.banner_square_delta {
	margin-top: 15px;
}
.banner_length_rain span,
.banner_square_delta span {
	font-size: 0.6em;
}

.banner_description {
	text-align: center;
	font-size: 1.8em;
	font-weight: 400;
	color: #126688;
	margin: 0 60px;
}
.banner_square_delta {
	margin-top: 15px;
}

.zagolovok_v_block h1 {
	font-size: 2em;
	text-align: center;
	font-weight: 600;
	margin-bottom: 40px;
}
.zagolovok_v_block h2 {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}
.programm_v h3 {
	margin: 0 0 25px 15px;
	font-size: 1.2em;
}

.zagolovok_v_block {
	margin: 50px;
}
.banner_block_image_block img {
	height: 450px;
	object-position: center top;
}

.programm_v {
	padding: 100px 0;
}
.programm_v_block {
	margin: 50px auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 90px;
}
.programm_v_item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
}
.programm_v_description {
	position: relative;
	padding-right: 20px;
	width: 50%;
}
.name_punkt,
.programm_v_text {
	position: relative;
	z-index: 10;
}
.programm_v_text {
	color: #6d6d6d;
	font-size: 0.9em;
	margin-top: auto;
}
.programm_v_number_block {
	position: absolute;
	width: 140px;
	height: 140px;
	background-color: rgba(184, 184, 184, 0.1);
	border-radius: 50%;
	border: 1px solid #efefef;
	color: #cccccc;
	font-size: 4em;
	font-weight: 200;

	display: flex;
	align-items: center;
	justify-content: center;
	top: -70px;
	left: -100px;

	z-index: 5;
}
.programm_v_image {
	width: 400px;
	height: 250px;
}
.programm_v_image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
